/*---------------------------
 ** CSS Reset
-----------------------------*/
/* See https://piccalil.li/blog/a-modern-css-reset/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

@media screen and (min-width: 62.5rem) {
  .main-container {
    display: grid;
    grid-template-areas: "logo image" "info image";
    grid-template-rows: auto 1fr;
  }
}
.logo {
  width: 27%;
  margin: 2rem;
}

.hero-image {
  max-width: none;
  width: 100%;
}

@media screen and (min-width: 62.5rem) {
  .logo {
    width: 19%;
    grid-area: logo;
    margin: 4rem 0 0 10rem;
  }
  .image-container {
    grid-area: image;
  }
  .hero-image {
    width: auto;
  }
}
.coming-soon-info {
  padding: 3.5rem 2.5rem;
  text-align: center;
}

@media screen and (min-width: 62.5rem) {
  .coming-soon-info {
    text-align: left;
    grid-area: info;
    padding: 0;
    margin: 8rem 15rem 0rem 10rem;
  }
}
.title {
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 1.1;
  letter-spacing: 0.5rem;
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}

@media screen and (min-width: 62.5rem) {
  .title {
    font-size: 4rem;
    letter-spacing: 1rem;
  }
}
.title-emphasis {
  font-weight: 600;
  color: hsl(0, 6%, 24%);
}

.info {
  margin: 1rem 0;
  font-size: 0.85rem;
  color: hsl(0, 36%, 70%);
}

@media screen and (min-width: 62.5rem) {
  .info {
    font-size: 1rem;
    margin: 1rem 0 3rem;
  }
}
.form-fieldset {
  border: none;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
}

.input-label {
  width: 100%;
}

.email-input {
  border-radius: 2rem;
  border: 0.1rem solid hsla(0, 36%, 70%, 0.5);
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  width: 100%;
}

.email-input::-moz-placeholder {
  color: hsl(0, 36%, 70%);
  opacity: 0.5;
  font-size: 0.85rem;
}

.email-input::placeholder {
  color: hsl(0, 36%, 70%);
  opacity: 0.5;
  font-size: 0.85rem;
}

.submit-button {
  border-radius: 2rem;
  padding: 0.65rem 1.5rem;
  border: none;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  color: white;
  box-shadow: 0 0 0.3rem hsl(0, 36%, 70%);
  position: absolute;
  height: 100%;
  right: 0;
}

.error-icon {
  display: none;
  position: absolute;
  right: 5rem;
}

.email-error-message {
  color: hsl(0, 93%, 68%);
  font-size: 0.75rem;
  position: absolute;
  top: 3.25rem;
  left: 1.75rem;
}

.attribution {
  font-size: 0.688rem;
  text-align: center;
}

.attribution-link {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=styles.css.map */