@import "reset";

$Desaturated_Red: hsl(0, 36%, 70%);
$Soft_Red: hsl(0, 93%, 68%);
$Dark_Grayish_Red: hsl(0, 6%, 24%);

body {
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

@media screen and (min-width: 62.5rem) {
    .main-container {
        display: grid;
        grid-template-areas: "logo image" "info image";
        grid-template-rows: auto 1fr;
    }
}

.logo {
    width: 27%;
    margin: 2rem;
}

.hero-image {
    max-width: none;
    width: 100%;
}

@media screen and (min-width: 62.5rem) {
    .logo {
        width: 19%;
        grid-area: logo;
        margin: 4rem 0 0 10rem;
    }
    .image-container {
        grid-area: image;
    }
    .hero-image {
        width: auto;
    }
}

.coming-soon-info {
    padding: 3.5rem 2.5rem;
    text-align: center;
}

@media screen and (min-width: 62.5rem) {
    .coming-soon-info {
        text-align: left;
        grid-area: info;
        padding: 0;
        margin: 8rem 15rem 0rem 10rem;
    }
}

.title {
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 1.1;
    letter-spacing: 0.5rem;
    font-weight: 300;
    color: $Desaturated_Red;
}

@media screen and (min-width: 62.5rem) {
    .title {
        font-size: 4rem;
        letter-spacing: 1rem;
    }
}

.title-emphasis {
    font-weight: 600;
    color: $Dark_Grayish_Red;
}

.info {
    margin: 1rem 0;
    font-size: 0.85rem;
    color: $Desaturated_Red;
}

@media screen and (min-width: 62.5rem) {
    .info {
        font-size: 1rem;
        margin: 1rem 0 3rem;
    }
}

.form-fieldset {
    border: none;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
}

.input-label {
    width: 100%;
}

.email-input {
    border-radius: 2rem;
    border: 0.1rem solid hsla(0, 36%, 70%, 0.5);
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    width: 100%;
}

.email-input::placeholder {
    color: $Desaturated_Red;
    opacity: 0.5;
    font-size: 0.85rem;
}

.submit-button {
    border-radius: 2rem;
    padding: 0.65rem 1.5rem;
    border: none;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    color: white;
    box-shadow: 0 0 0.3rem $Desaturated_Red;
    position: absolute;
    height: 100%;
    right: 0;
}

.error-icon {
    display: none;
    position: absolute;
    right: 5rem;
}

.email-error-message {
    color: $Soft_Red;
    font-size: 0.75rem;
    position: absolute;
    top: 3.25rem;
    left: 1.75rem;
}

.attribution {
    font-size: 0.688rem;
    text-align: center;
}

.attribution-link {
    color: hsl(228, 45%, 44%);
}